body{
  background: darkgray;
}

.App {
  text-align: center;
  margin-top:60px;
}

.colorRed{
  color:red;
}

.CounterWrapper{
  width: 300px;
  height: 400px;
  border: 3px solid deepskyblue;
  margin: 20px auto 0 auto;
  border-radius: 5px;
  font-size: 30px;
  background: #1d1c1c;
}

.counter{
  border: 1px solid #000000;
  margin: 20px;
  padding: 30px;
  background: deepskyblue;
  border-radius: 5px;
}

.Button{
  background-color: deepskyblue;
  border: none;
  padding: 10px 30px;
  margin: 10px 30px;
  font-size:15px;
  border-radius: 5px;
}

.Button:disabled{
  background-color: #63d8ef;
}

.span{
  color:white;
  font-size: 14px;
  margin: 20px 0;
  display: block;
}

.title{
  font-size: 45px;
}

.SetBlock{
  width: 300px;
  height: 200px;
  border: 3px solid deepskyblue;
  margin: 5px auto 0 auto;
  border-radius: 5px;
  font-size: 20px;
  background: #1d1c1c;
}

.inputRoot{
  border: 3px solid deepskyblue;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  outline: none;
}

.span-set{
  color:white;
  font-size: 14px;
  margin: 5px 0;
  display: block;
}

.inputRootError{
  border: 3px solid red;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  outline: none;
}